/* Couleurs global */
$grisNoir: #18181f;
$grisFonce: #23232d;
$grisClair: #3a3f52;
$grisTresClair: #999;
$grisBlanc: #f4f4f4;

$grisBordure: #e4e4e4;

/* Background */
$grisBleu: #d6e0e2;

/* Composents */
$turquoise: #00a99d;
$rouge: #e10e49;
