<html>
	<body style="margin:0px; padding:0px;">
		
		<!-- En tête -->
	    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="232831">
	        <tr>
	            <td>

	                <table cellspacing="0" cellpadding="0" height="80" width="600" align="center">
	                    <tr>
	                        <td width="600" height="80" colspan="2">
	                            <p style="color:#ffffff">Contact</p>
	                        </td>
	                    </tr>
	                </table>

	            </td>
	        </tr>
	    </table>

		<!-- Contenu -->
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="ffffff">

            <tr>
                <td>

                    <table cellspacing="0" cellpadding="0" width="600" align="center">
                        <tr>
                            <td width="600" height="25">&nbsp;</td>
                        </tr>

                        <tr>
                            <td width="600" colspan="2">
                                <p>Nouvelle notification sur le site pinelli-luc.fr</p>
                            </td>
                        </tr>

                        <tr>
                            <td width="600" height="25">&nbsp;</td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

	</body>
</html>